<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="project.movinindoor" >

    <uses-permission android:NodeId="android.permission.INTERNET" />
    <uses-permission android:NodeId="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:NodeId="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:NodeId="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:NodeId="android.permission.GET_ACCOUNTS" />
    <uses-permission android:NodeId="android.permission.VIBRATE" />
    <uses-permission android:NodeId="android.permission.WAKE_LOCK" />
    <uses-permission android:NodeId="com.google.android.c2dm.permission.RECEIVE" />

    <permission
        android:NodeId="project.movinindoor.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:NodeId="project.movinindoor.permission.C2D_MESSAGE" />
    <!--
        The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but are recommended.
    -->
    <uses-permission android:NodeId="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:NodeId="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Holo.Light.DarkActionBar" >
        <meta-data
            android:NodeId="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:NodeId="com.google.android.maps.v2.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:NodeId=".MapsActivity"
            android:label="@string/title_activity_maps"
            android:screenOrientation="portrait">
        </activity>

        <receiver
            android:NodeId=".GCM.GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:NodeId="com.google.android.c2dm.intent.RECEIVE" />

                <category android:NodeId="project.movinindoor" />
            </intent-filter>
        </receiver>

        <service android:NodeId=".GCM.GcmMessageHandler" />

        <activity
            android:NodeId=".LoginActivity"
            android:label="@string/title_activity_login" >
            <intent-filter>
                <action android:NodeId="android.intent.action.MAIN" />
                <category android:NodeId="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
